<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>
<body>
  

  <h2>Dashboard</h2>
  <a class="btn" href="/movies/list">List of Movies</a>
  <a class="btn" href="/movies/add">Add a Movie</a>





<!---->




</body>
</html>
